
body{
    font-family: Arial, Verdana;
    font-size: 12px;
}

div#cabecera {
    background-color: chartreuse;
    padding: 15px;
}

div#central {
	margin-top: 2px;
	margin-bottom: 5px;
}

#lista1, #lista2, #lista3 {
	list-style: none;
	margin: 0;
	padding: 0;
}

#lista2 li {
	background-color: gray;
	border: 1px black solid;
}

#lista3 li {
	display: inline;
	background-color: gray;
	padding: 2px;
	border: 1px black solid;
}

#lista3 li:hover{
	background-color: white;
}

#lista3 a:hover{
	color: black;
	background-color: white;
}

#lista3 a {
	color: white;
	text-decoration:none;
}

div#pie{
	overflow: hidden;
	text-align: center;
	background-color: green;
}

div img {
	display:block;
	margin: 0 auto;
}