
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /DIWEB/wordpress/Primera%20p%C3%A1gina/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /DIWEB/wordpress/Primera%20p%C3%A1gina/index.php [L]
</IfModule>

# END WordPress