#cabecera {
    background: #888;
    color:#ffffff;
    font-family:Courier;
}

#cuerpo {
    background: #eee;
    font-family: Arial;
    text-indent: 20px;
}

#pie {
    background: #888;
    text-align: center;
    color: #eedd00;
}