div {
     width:400px;
     position: fixed;
     bottom: 0;
     left: 35%;
     text-align: center;
     overflow:hidden;
}
div li {
     display: inline-block;
}
li img {
     -webkit-transition:all .4s;
     width:100%;
}
div li:hover img { 
     -webkit-transform:scale(1.25);     
     transform:scale(1.25);
}
.small{
     font-size: small;
}